*.pyc

/build/
/dist/

*.log

tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

### Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea
*.iml
*.ipr
/venv/

## File-based project format:
*.iws

### ios ###
# ignore apple osx specific files
*.DS_Store

### linux ###
*~
